In [1]:
import pandas as pd

In [4]:
pd.read_parquet("2023-01-01")

          dropoff_datetime  DOLocationID            DropOffID
0      2023-01-01 00:31:59          39.0           F202301010
1      2023-01-01 01:39:04         119.0           F202301011
2      2023-01-01 01:25:57         252.0           F202301012
3      2023-01-01 01:59:44          71.0           F202301013
4      2023-01-01 02:23:07          89.0           F202301014
...                    ...           ...                  ...
213123 2023-01-07 22:41:58          36.0  F202301018590065369
213124 2023-01-07 23:27:20         187.0  F202301018590065370
213125 2023-01-07 23:53:18           NaN  F202301018590065371
213126 2023-01-07 23:58:50          61.0  F202301018590065372
213127 2023-01-07 23:28:23          90.0  F202301018590065373

[213128 rows x 3 columns]